*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#65B8FF;
    text-align:center
}
.container{
    height: 70vh;
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vh;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem;
    font-size: 8vmin;
    color:#900020;
    background-color: #f9e79f;
    
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#FF8370 ;
    border-radius: 1rem;
    border: none;
    color:#211522;
    

}
#new-btn{
      padding: 1rem;
    font-size: 1.25rem;
    background-color:#FF8370 ;
    border-radius: 1rem;
    border: none;
    color:#211522;
    
}
#msg{
    color: #f9e79f;
    font-size: 8vmin;

}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
    display: none;
}
#reset-btn:hover{
    background-color: #FF2511;
}
#new-btn:hover{
    background-color: green;
}